
body#LoginForm
  .container
    .login-form
      .main-div
        .panel
          if info && info.message
            .alert.alert-danger= info.message
          h2 Admin Login
          p Por favor, ingrese su email y password
        form#Login(action="/login" method="post")
          .form-group
            input#username.form-control(type="email" placeholder="Email Adress" name="email")
          .form-group
            input#password.form-control(type="password" placeholder="Password" name="password")
          .forgot
            a(href="/forgotPassword") Olvide mi password
          button.btn.btn-primary(type="submit") Login