
body#LoginForm
  .container
    .login-form
      .main-div
        .panel
          if info && info.message
            .alert.alert-danger= info.message
          h2 Cambio de password
          p Por favor, ingrese su clave
        form#Login(action="/resetPassword" method="post")
          input#email(type='hidden' name='email' value=user.email)
          .form-group
            label(for="password") Password
            input#password.form-control(type="password" placeholder="Password" name="password")
            if errors.password
                small#passwordHelp.text-danger = error.password.message
          .form-group
            label(for="confirm_password") Confirmar Password:
            input#confirm_password.form-control(type="password" name="confirm_password")
            if errors.confirm_password
                small#confirm_passwordHelp.text-danger = errors.confirm_password.message

        button.btn.btn-primary(type="submit") Login