extends ../layout.pug
block content
  a(href="/usuarios") Volver
  h1 Nuevo Usuario
  form(action='/usuarios' method='post' autcomplete='off')
    .form-group
      label(for='nombre') Nombre:
      input#nombre.form-control(type='text' name='nombre' autcomplete="")
      if errors.nombre
        small#nombreHelp.text-danger = errors.nombre.message
    .form-group
      label(for='email') Email:
      input#email.form-control(type='email' name='email')
      if errors.email
        small#emailHelp.text-danger = errors.email.message
    .form-group
      label(for='password') Password:
      input#password.form-control(type='password' name='password')
      if errors.password
        small#passwordHelp.text-danger = errors.password.message
    .form-group
      label(for='confirm_password') Confirmar password:
      input#confirm_password.form-control(type='password' name='confirm_password')
      if errors.confirm_password
        small#confirm_passwordlHelp.text-danger = errors.confirm_password.message
    input.btn.btn-primary(type='submit' value='ok')