extends ../layout.pug
block content
    h1 Usuarios
    a(href='/usuarios/create') 
        button.btn.btn-success Nuevo Usuario
    if !usuarios.length
        p No hay usuarios
    else
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Nombre
                    th(scope='col') Email
                    th(scope='col') Verificacion
                    th(scope='col')
                    th(scope='col')
            tbody
                each usuario in usuarios
                    tr
                        td(scope="row")= usuario.id
                        td(scope="row")= usuario.nombre
                        td(scope="row")= usuario.email
                        td(scope="row")= usuario.verificado ? 'SI' : 'NO'
                        td
                            a.btn.btn-warning(href=`usuarios/${usuario.id}/update`) Editar
                        td
                            form.inline(method='post' action=`usuarios/${usuario.id}/delete`)
                                button.btn.btn-danger(type='submit' name='delete') Eliminar