extends ../layout.pug
block content
   a(href="/bicicletas") Back
   h1 Crear Bicicleta
   form(method="post" action="/bicicletas")
      .form-group
         label(for="modelo") Modelo
         input#modelo.form-control(type="input" placeholder="x500" name="modelo")
      .form-group
         label(for="color") Color
         input#modelo.form-control(type="input" placeholder="rojo" name="color")
      .form-group
         label(for="latitud") Latitud
         input#modelo.form-control(type="input" placeholder="-14000" name="latitud")
      .form-group
         label(for="longitud") Longitud
         input#modelo.form-control(type="input" placeholder="50534" name="longitud")
      button.btn.btn-success(type="submit") Save