extends ../layout.pug
block content
   h1 Editar Bicicleta
   form.inline(method="post" action=`/bicicletas/${bicicleta.id}/update`)
      .form-group
         label(for="modelo") Modelo
         input#modelo.form-control(type="input" placeholder="x500" name="modelo" value=bicicleta.modelo)
      .form-group
         label(for="color") Color
         input#modelo.form-control(type="input" placeholder="rojo" name="color" value=bicicleta.color)
      .form-group
         label(for="latitud") Latitud
         input#modelo.form-control(type="input" placeholder="-14000" name="latitud" value=bicicleta.latitud)
      .form-group
         label(for="longitud") Longitud
         input#modelo.form-control(type="input" placeholder="50534" name="longitud" value=bicicleta.longitud)
      button.btn.btn-danger.btn-sm(type="submit" name="update") Update