extends ../layout.pug
block content
  h1 Bicicletas
  a(href="bicicletas/create")
    button.btn.btn-success Nueva bicicleta
  if bicicletas.length
    table.table.table-bordered.table-hover.table-sm
      thead.thead-dark
        tr.text-center
          th #
          th Color
          th Modelo
          th Ubicacion
          th
          th
      tbody
        each bicicleta in bicicletas
          tr
            td.text-center(scope="row")= bicicleta.id
            td.text-center(scope="row")= bicicleta.color
            td.text-center(scope="row")= bicicleta.modelo
            td.text-center(scope="row")= bicicleta.ubicacion
            td.text-center
              a(href=`/bicicletas/${bicicleta.id}/edit`)
                button.btn.btn-warning.btn-sm(type="button") Edit
            td
              form.inline(method="post" action=`bicicletas/${bicicleta.id}/delete`)
                button.btn.btn-danger.btn-sm(type="submit" name="delete") Delete
  else
    p No hay bicicletas